@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body , button {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #E5E5E5;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.nav_list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    margin-left: auto;
    max-width: 100%;
}

.nav_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

.menu {
    display: none;
}

.reklama {
    max-width: 100%;
    margin: 64px 0;
    border-radius: 15px;
    width: 100%;
}

.food_name {
    margin: 16px 0;
    font-size: 17.66px;
    font-weight: 700;
    line-height: 28px;
}

.food_info {
    font-size: 18.28px;
    font-weight: 500;
    line-height: 28px;
    color: #FC004A;
    margin-bottom: 12px;
}

.card_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12px;
}

.plus_btn {
    width: 40px;
    height: 40px;
    background-color: #FC004A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    padding: 6px;
    margin-left: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    background-color: #FC004A;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.card_item {
    width: 23%;
    box-shadow: 0px 4px 6px -4px #0000001A;
    box-shadow: 0px 10px 15px -3px #0000001A;
    padding: 12px;

}

.set {
    font-size: 32.48px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 44px;
}

.footer_nav {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





@media only screen and (max-width: 960px) {
    .nav_list {
        gap: 24px;
    }

    .logo {
        width: 12%;
    }

    .container {
        padding: 4px;
    }

    .card_item {
        width: 32%;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .reklama {
        border-radius: 0;
    }

    .card_item {
        width: 32%;
    }
}

@media only screen and (max-width: 660px) {
    .menu {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav_list {
        display: none;
    }

    .reklama {
        border-radius: 15px;
        margin: 20px 0 50px 0;
    }

    .card_item {
        width: 48%;
    }
}

@media only screen and (max-width: 480px) {

    .card_list {
        justify-content: center;
    }

    .card_item {
        width: 90%;
    }

    .footer_nav {
        flex-direction: column-reverse;
        row-gap: 10px;
        align-items: flex-start;
        padding: 16px;
    }
}